:root{
    --primario-soc: #006D4E;
    --secundario-soc: #4ED176;
    --secundario-blue: #079DEF;
    --secundario-btn: #52DEFF;
    --secundario-orange: #FF7150;
    --btn: #6c757d;
    --font-family-circular-Book: 'CircularXX-Book';
    --font-family-circular: 'CircularXX-Regular';
    --font-family-circular-Thin: 'CircularXX-Thin';
}
/*----Tipografia-----*/
@font-face {
    font-family: 'CircularXX-Book';
    src: url('/fonts/CircularXX-Book.otf') format('opentype'),
        url('/fonts/CircularXX-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CircularXX-Regular';
    src: url('/fonts/CircularXX-Regular.otf') format('opentype'),
        url('/fonts/CircularXX-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CircularXX-Thin';
    src: url('/fonts/CircularXX-Thin.otf') format('opentype'),
        url('/fonts/CircularXX-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: Thin;
    font-display: swap;
}

/*------Estilos------*/
header{
    margin-bottom: 32px;
}
body{
    background-color: white;
    color: var(--primario-soc);
    font-family: var(--font-family-circular-Book);
}
.row{
    margin:32px;
}
h1, h2, h3{
    color: var(--primario-soc) !important;
}
h3{
    font-size: 22px !important;
    text-align: center;
}
.banner-text-primario{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 22px;
}
.banner-text-secundario{
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 22px;
}
strong{
    font-weight: 700 !important;
}
.mg-b{
    margin-bottom: 22px;
}
.mg-t{
    margin-top: 30px;
}
.texto-v{
    color: var(--primario-soc);
    font-weight: 300;
}
.nav-flotante{
    margin-top: 0 !important;
    padding-top: 0 !important;
    position: fixed;
    background: white;
    text-align: right !important;
    top: 0;
    width: 100%;
    float: right;
    z-index:3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.navbar-fl-m{
    margin: 0px 35px;
}
/*---Card----*/
.img-card{
    width: 30%;
    margin: 22px auto;
}
.card-props{
    height: 250px !important;
    border-color: var(--primario-soc) !important;
    margin-bottom: 32px;
    text-align: center;
    width: fit-content !important;
}

.cita{
    color: var(--secundario-orange);
    font-weight: 200;
    font-size: 18px;
    text-align: center;
}
.img-cta{
    width: 50%;
}
.cta-r{
    transform: rotate(180deg);
}
/*---BTN Inscribirme--*/
.inscripcion{
    background-color: var(--secundario-blue);
    color: white;
    border-radius: 12px !important;
    border: none !important;
    height: 45px;
}
.inscripcion a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    margin: 0px 22px;
}
.pCerp{
    padding: 0px;
}

/*--Acordion--*/
.accordion-item{
    border: var(--secundario-soc) solid 1px !important;
}
.accordion-button{
    font-size: 20px;
    font-weight: 700;
    color: var(--primario-soc) !important;
}
.accordion-button:not(.collapsed){
    background-color: white !important;
}
.accordion-body{
    color: var(--primario-soc);
    font-size: 16px;
}
/* .accordion-button:not(.collapsed)::after{
    background-image: url(/img/collapsable-1.svg) !important;
    transform: rotate(0deg) !important;
} */
.siguiente-btn{
    color: var(--secundario-blue);
    font-size: 18px;
    font-weight: 700;
    text-align: end;
    display: block;
}
.acerca-taller{
    text-align: start;
}
/*-----Formulario-----*/
.form-m{
    margin: auto 30px;
    width: 95% !important;
}
.form-texto{
    color: var(--primario-soc);
    font-weight: 200;
}
.formInput{
    border: var(--secundario-soc) solid 1px !important;
    margin: auto; 
}
.btn-center{
    text-align: center;
    margin: auto;
}
.btnStyle{
    background: none;
    border: none;
}
.txt-area{
    border-color: var(--secundario-soc);
    border-radius: 6px;
    width: -webkit-fill-available;
    height: 80px;
}

/*----Footer---*/
footer{
    background-color: var(--primario-soc);
    margin-top: 32px;
    height: 80px;
    display: flex;
}

footer p{
    color: white;
    text-align: center;
    align-items: center !important;
    margin: auto;
}

/*-----MQ----*/
@media (max-width: 425px) {
    .inscripcion{
        margin: auto;
    } 
    .mg-t{
        margin-top: 145px;
    }
    .navbar-fl-m{
        margin: 11px;
    }
    .form-m{
        margin: auto;
    }
    .card-props{
        margin: 12px auto;

    }
    .alin-mobile{
        display: block !important;
    }
    ul{
        padding: 0px !important;
    }
    .img-cta{
        width: 90%;
    }
    .navbar-brand img{
        margin-top: -10px;
        margin-bottom: 22px;
    }
    .header-alin{
        text-align: center;
        display: block !important;
    }
    .banner-texto{
        display: block !important;
    }
    .banner-texto img{
        width: 300px;
        margin: auto;
        display: block !important;
    }
}@media (max-width: 375px) {
    .card-props{
        margin: 12px auto;

    }
}